<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>XMPPRoomHybrid</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>XMPPRoomHybrid</key>
		<dict>
			<key>XMPPRoomMessageHybridCoreDataStorageObject</key>
			<data>
			E4JL/3oJd+BfbUfjKTZHWHaGRwIynDHnAuHS3AGtN94=
			</data>
		</dict>
	</dict>
</dict>
</plist>
