<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>Model</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Model</key>
		<dict>
			<key>Album</key>
			<data>
			RbP88zjEyijI4Ic4X3sgp5VwVQ7i2+cfTP40cD9bq+M=
			</data>
			<key>AttachmentProperty</key>
			<data>
			HbIgEaEyITTEJFUDy5naE9uNrQfUYvL6LTfbhBd4rhk=
			</data>
			<key>Avatar</key>
			<data>
			WuRJna8zjgpSi8MmppsKmqhaomMe2lkuYI3HDCagyx4=
			</data>
			<key>AvatarCollection</key>
			<data>
			zNUW/jccHUMVgDxLIJVkPkZFyfvkJeMyNrAOaXtE6Vc=
			</data>
			<key>AvatarCollectionEdge</key>
			<data>
			Nup5UhxYd4ZaD4JbS4KAjIb73vaiShVFtIQVL71SpoE=
			</data>
			<key>AvatarFeedEdge</key>
			<data>
			HGU0Md7cNVhq7S2eovNsFLv1UUMHSGpVgEHtfSPBJoE=
			</data>
			<key>Bookmark</key>
			<data>
			ETr15pwLXuR/g0IfXZB/pTBXBA6CVpaW3zqOJXmTPGU=
			</data>
			<key>BookmarkSection</key>
			<data>
			BhPofyLkh3C5H81f/lji7AU88X1k0KT3Zp3UJdPLiMk=
			</data>
			<key>CelebrationsFeedUnit</key>
			<data>
			b/30T3tQj6NTbxNCLTrI4fUxGgF+a5mjk8bS9iqWxXw=
			</data>
			<key>CelebrationsFeedUnitItem</key>
			<data>
			S6ryBqa6dNQMdKUCotudjtws7wm8Q0qAHw5Bqw4AiwE=
			</data>
			<key>Comment</key>
			<data>
			/4gBjuwEVIBgvNXc5K1zxQ2mUerBx8yLZZnak8KlSds=
			</data>
			<key>CommentSequence</key>
			<data>
			JhlNoiVfj39FjWYOjr8I6aipJ98AUy5OVEVNC+yKv2k=
			</data>
			<key>Contact</key>
			<data>
			GsA/qm9fh2O0oRyaRw8TIFWsamktrpEVoFCmt1/+0L0=
			</data>
			<key>ContactRecommendationField</key>
			<data>
			L/HTxSDbvo4GEfF5ahuruyB/EwfGj+C7L2r6kB3m5qk=
			</data>
			<key>Coupon</key>
			<data>
			ObgV26Hhvi5e5rMzdPa5iE5C3WJA0brsSV0A/g5DCh8=
			</data>
			<key>Event</key>
			<data>
			PUqySUm9fySdNCsyBtpvDEhTzCIwGh0zWbPHPaAnNNk=
			</data>
			<key>EventDeclinesConnection</key>
			<data>
			uon5/poqZ/vJoyVFhkIKHCUQsIDjMRR1ugL513T75Cw=
			</data>
			<key>EventDeclinesEdge</key>
			<data>
			ovi4z1EwaNFeL3fjg8jHwKYqPtrm/K+oEryRT8KuWrw=
			</data>
			<key>EventInviteesConnection</key>
			<data>
			fUqe81MyCBAZTGuG3qyn0JDM4FwR0GD9n9fU3NzTmYc=
			</data>
			<key>EventInviteesEdge</key>
			<data>
			FaRYcWphZsJ/6pRBS7DtaVCEkogTnGukTf1LcDNTX2g=
			</data>
			<key>EventMaybesConnection</key>
			<data>
			B3HZO3pmr0OPb99aoA4Z8SDJhNTVSdugFk9TpjpxnYA=
			</data>
			<key>EventMaybesEdge</key>
			<data>
			tuVtluREnWK4zR2/nGMAGLIQQUcUasZzBQUudZ1bqNA=
			</data>
			<key>EventMembersConnection</key>
			<data>
			rzzSFzpqvfaMGPlvwDzEMhqN/0blIPFp3hU+xLvtGrU=
			</data>
			<key>EventMembersEdge</key>
			<data>
			WgNN5WxF2qaBxqsTl1DbShEDlo2AgPTFunmr3GTNDnA=
			</data>
			<key>EventPhotosConnection</key>
			<data>
			HlQ+Lo6U/gpjz0Sd0Rb3PTP5CwKOcp7Y/clDSWlCuzo=
			</data>
			<key>EventPhotosEdge</key>
			<data>
			d7tJL5BxwlB1O71mgkhcblgn28w8aBEsQ5qBePjFnkU=
			</data>
			<key>EventsConnection</key>
			<data>
			ZEc3mHxOqc5wCkUuXjUP0UvB65fUeJEVMdptmgSwfjQ=
			</data>
			<key>EventsEdge</key>
			<data>
			bS0R4cKezj+DhcBNbsmXsPtii3w0+pSu594r9rU/A0g=
			</data>
			<key>ExternalUrl</key>
			<data>
			cTpwtqxC9+GbB85BAic2JC1TeidE+97JNPFcFvUDe3M=
			</data>
			<key>FeedAttachment</key>
			<data>
			WphyHiNiv8qVX24247O8qBx+X8umjK9Kbg2fQ2YezoE=
			</data>
			<key>FeedEdge</key>
			<data>
			/fhHUePy8AYExsSmaFKh9Igo6w13LehylHv6yUtN0SE=
			</data>
			<key>FeedSequence</key>
			<data>
			Bf4VXxOKNFVNcdbt5oK+tORH3sc3szZbt1vM24i0PTk=
			</data>
			<key>FeedStory</key>
			<data>
			znZqq95VoumVp8+CIHyhzWSaKVmu0XWfhKnCoB/EXP0=
			</data>
			<key>FeedStoryExtended</key>
			<data>
			jOvFz2iL/PnBqv8PH+ifR9NGiJ1TM1ostmnRkAai2bE=
			</data>
			<key>FeedUnit</key>
			<data>
			qyMDbYdD1xNCuWNE3qPFShYPhUl2bzRsndXCrapCaMU=
			</data>
			<key>Feedback</key>
			<data>
			4gs4G3VXbbntmAMf11tilsCVUFV7WUVk0BE04U7vE70=
			</data>
			<key>FocusedPhoto</key>
			<data>
			YT7s8G/LcG2u42CRXm7K5RVRfdK6ObimCpHcL0Jzxzs=
			</data>
			<key>FriendList</key>
			<data>
			/xx9pHjfF/S4ZVm/mOqpRNylLuwFRq4q+MfI33CXHrw=
			</data>
			<key>FriendListFeedEdge</key>
			<data>
			uh+V+tKi09P2b7oF/BJClKL8xYqi6Go+GfVyVEGiCH8=
			</data>
			<key>FriendRequest</key>
			<data>
			qXKKo5aCewkBd3ZHWiV3c/IrNNiGbKhBmkpgSu6laB0=
			</data>
			<key>FriendRequestCollection</key>
			<data>
			xr5A3uWrHwljeQsw0+NdlzsLJ9o5VVphH24zChNfh3U=
			</data>
			<key>FriendsHereNowConnection</key>
			<data>
			0QVHrIgySpkpOgiprLpC1HE/1magHVlZ8s3/8pWpRc8=
			</data>
			<key>FriendsHereNowEdge</key>
			<data>
			kUwZuzPKgdtr/vUgksns5Ylb+BpfVzq+mgHfscVOLIo=
			</data>
			<key>FriendsWhoVisitedConnection</key>
			<data>
			5LgMLQEHdLHABoo/5Hv0Sc5xozNU3WHr9A421dCLv90=
			</data>
			<key>FriendsWhoVisitedEdge</key>
			<data>
			aofIi6f11YjVNX6ERyROY5+QaKB6qq1szX+h4nyrlPY=
			</data>
			<key>GenericAttachmentMedia</key>
			<data>
			hyPU7ZbeGvMLEmEV0vB4xtLaLvwPR4gfr7507BDG1WI=
			</data>
			<key>Group</key>
			<data>
			7WWbxOcEqtLhXd0jrHUC6AV9S/i3KhIv9Z1EOOVMuGc=
			</data>
			<key>GroupFactory</key>
			<data>
			nC5QGtOTxg233yu7gyY8PHvR1Ey7dcetHSkPqPU380k=
			</data>
			<key>GroupFeedEdge</key>
			<data>
			oY5HOpNklH3HTd4cCiufzQ1cE7tW904xZauG/fmYqhw=
			</data>
			<key>Icon</key>
			<data>
			zGAAjGcvmXHaxBsNUmmktZ3zBuy2KaNWwUMUzv4+fj8=
			</data>
			<key>Image</key>
			<data>
			hLK8HpqHct/JL93M7Hrbn+ZH/oFuV6BwnhK8HhYh3IE=
			</data>
			<key>ItemListFeedUnit</key>
			<data>
			ban7PjVa2mKlCe+x96+tx9GZAzE4kvmZgsTCSxZdVLw=
			</data>
			<key>ItemListFeedUnitItem</key>
			<data>
			kA5jcekT2hjIujtdNyhDfiemy9XdhkX7K4NUKxnnvP4=
			</data>
			<key>LifeEventUnit</key>
			<data>
			47lTPMZ0QW3n9U2TrnDmxJX4za23M8pnwVjmde+vgsY=
			</data>
			<key>Location</key>
			<data>
			qIt2CAdALFUlOhzT3YZjQk8uvpKoHrPgq046C+FkNnE=
			</data>
			<key>Media</key>
			<data>
			CDJl40cEZ5TaM4WRhadLVGnVY6l1zPwmZZsQKmCSZj4=
			</data>
			<key>MediaSet</key>
			<data>
			XTdQnpQXNl58UDs3y2eCztqMxZr+XvRneUJmsmSJJ+o=
			</data>
			<key>MostRecentNewsFeedEdge</key>
			<data>
			EUSdksF/le0GmYBX/FgivRwO7B/d6Y7Yc3YY1/ikTn4=
			</data>
			<key>MultiBackgroundIcon</key>
			<data>
			/LYvrMtBYMhVqmondjiaxOhgoMy53gw/nkJ6QfKLG90=
			</data>
			<key>MutualFriendsEdge</key>
			<data>
			DuLs8NNdYPOqr92VfeSuMhufPRHdj7YwrVrvunh00/A=
			</data>
			<key>MutualFriendsSequence</key>
			<data>
			CpaGyskzmovvTgXnXyUHfN8J8ogpD0HCQu/JHCDsrDc=
			</data>
			<key>Name</key>
			<data>
			RZQxwSFpTGEJUvnuZNufh42Y/sypgzA4Mx38edGxXbg=
			</data>
			<key>NamePart</key>
			<data>
			IprdtMyzM4ChodRCRqfN67oGplz0LiE/Yod+rSEwbXw=
			</data>
			<key>NearbyPlacesConnection</key>
			<data>
			g8xVodI7rMBN9YqmshuGMxdlQwVamxYqSgizTi6RZE0=
			</data>
			<key>NearbyPlacesEdge</key>
			<data>
			221/S5sJIPSjLiqu1JQz9ybuaeArVX9Ht6++NvLuE9o=
			</data>
			<key>NearbySearchQuery</key>
			<data>
			oK+Ungc6RpVwkzZQFkhw3ZtJd+SsmvjsVXsUdzLmhNo=
			</data>
			<key>NearbySearchResultSection</key>
			<data>
			VEOPF8DRA1IBKcIcWfYpoSlPfLIYswHPP0jKPeA7xDY=
			</data>
			<key>NearbySearchResultSectionsConnection</key>
			<data>
			TkNeR0ut1c5NvoYIxeWlg51ekOW3Ce7f1V1fOuS0mos=
			</data>
			<key>NearbySearchResultSectionsEdge</key>
			<data>
			wcOQX8+eP4183w+ooLO4qypvIcViGz1V3BGuLSkTXok=
			</data>
			<key>NearbySearchResultsConnection</key>
			<data>
			GrBsu4dP/SSo2jBg+KXl3bB+xOi08dlw7aL/htdQvXI=
			</data>
			<key>NearbySearchResultsEdge</key>
			<data>
			hVMMOjARcD9C2rn5QU90KuJY633s6McE3adD264mihI=
			</data>
			<key>NewsFeedEdge</key>
			<data>
			OOnqxZGbbLl8uQqYA7sGdlsxuzS1ZWgwVs4f4cgZaHE=
			</data>
			<key>NewsFeedSection</key>
			<data>
			MfmkwKyTNOehdCooM3Wbc1SQ4FykMXTcA8o0TVMOjcE=
			</data>
			<key>NewsFeedSectionSequence</key>
			<data>
			17WZxbhZiMXrNUvo6KGN8SkmLGjVjNfKO5vVPYv9ONw=
			</data>
			<key>NewsFeedSubsection</key>
			<data>
			kW35iIcaBk/31Ko5kq5vZYWuonuDzvllFl2PkpifutM=
			</data>
			<key>Notification</key>
			<data>
			9PFFig2WvqMXOhyrtc+i+RohyOke2i/KkN9oflfOJ7o=
			</data>
			<key>OpenGraphAction</key>
			<data>
			QDvQgym++/MFhEhL6/uUg4fQ7IBfOcU1WSFav/ZbD4Y=
			</data>
			<key>OpenGraphObject</key>
			<data>
			IIptQwlKgGDrxtvZ7i9sEs1yAWfMn14KIcXSXxYy6cw=
			</data>
			<key>Page</key>
			<data>
			uTbDe7JNIJ6qMld8A8iQilf2ufqb6oMiOE1MWHWN2qY=
			</data>
			<key>PageInfo</key>
			<data>
			HHBDg4jS3r0gcj8uSPjhNV8oEG/aVYeV0PxQ11CF9r4=
			</data>
			<key>PageLikerFriendEdge</key>
			<data>
			oaRxsdqwptwayB7WqpUGXOBa/QkJkJBJLVXC6SaHqks=
			</data>
			<key>PageLikerFriendsSequence</key>
			<data>
			1wVVPZhfo++Q9ZbgrlCEH6vrCrcEMNWd0idTSbXpGvg=
			</data>
			<key>PageRecommendationsConnection</key>
			<data>
			Vgq+7NIZ1jr5exze/EIesWjKUdGYZ6FjbnX2O0cTEcY=
			</data>
			<key>PageRecommendationsEdge</key>
			<data>
			7KxmeF9DxTwhY0Lpja8r/ATngDEgFxKIS9M+0yLP5Hw=
			</data>
			<key>PageStarRatersConnection</key>
			<data>
			57NRzgQ1zX14iPqv25ABMcvfA1pRIcaCTttq3T9G3Bc=
			</data>
			<key>PageStarRatersEdge</key>
			<data>
			BQWpsnfiKhtnI/yXXvW0UeypqmGxIGEvzqK55lbkjUs=
			</data>
			<key>PagesYouMayLikeFeedUnit</key>
			<data>
			dRA04/qhigi+Qfgv6/aXIhroD0JroH/byAjH5EPOgC4=
			</data>
			<key>PagesYouMayLikeFeedUnitItem</key>
			<data>
			tXn9RsfYa0fmclH+Lfinjd1qA+XVzOHivuFVnMQkI4c=
			</data>
			<key>PeopleYouMayKnowFeedUnit</key>
			<data>
			99Ora/jwdcuHuR2guQGdvfjnypfTfCff6O2WuTbeTAk=
			</data>
			<key>PeopleYouMayKnowFeedUnitItem</key>
			<data>
			IlNF8qJfFtZoGtl7ESwDawczwpIn1inl0GA5k+TTj+0=
			</data>
			<key>Person</key>
			<data>
			IuHIBXqKO7/AWJT+F9IDcio//Fzl4CgGfWhqPlystPA=
			</data>
			<key>Photo</key>
			<data>
			s1osyrM+FtGalHv+ixWtiapPkosaySO3XmtBlWHr43w=
			</data>
			<key>PhotoEventsConnection</key>
			<data>
			BHZJJKQVmXdpoL9aFeOSLKeJNbFEbM6TjQH0/MyD45I=
			</data>
			<key>PhotoEventsEdge</key>
			<data>
			ahCFX1NtihEvZsCnKNFJwF5KYPtrHV1XROZ344KiRyM=
			</data>
			<key>PhotoTag</key>
			<data>
			usU5i7x+MlejYcZTfsq0Abty6VPRL2TqyL80c8n3uj0=
			</data>
			<key>PhotoTagSuggestion</key>
			<data>
			y2YrMu3yWJnlFX/R7WDFuOdvCC49cgLVg+g++vKQsvM=
			</data>
			<key>PhotosTakenHereByFriendsConnection</key>
			<data>
			ImRSdR0Tp8HCsgGMHcqGZxgG2NgE20xG0TMo/BSusuo=
			</data>
			<key>PhotosTakenHereByFriendsEdge</key>
			<data>
			J3zy7RYD066TXI5+KDB7LsdaUY/9STDXyrUhwcOzy2w=
			</data>
			<key>Place</key>
			<data>
			74/axG2V2wXSfCeTpKeUO3LFXJAbIISmAVWF6hwjJb0=
			</data>
			<key>PlaceTopic</key>
			<data>
			6xuTELSKwzA0Ka8rZImVleFFyACznhBZwezLN5UtT2Y=
			</data>
			<key>PlaceTopicCollection</key>
			<data>
			UYjeWsoBWF4DE8Dz6GEhjZfcklJ/QA1+0ZJk/BW9yNw=
			</data>
			<key>PlatformApplication</key>
			<data>
			J8hHNMoUOLEsWpRbC/mz+HDKTXDIg9DwTuOyIBZEjWQ=
			</data>
			<key>PopularObjectsFeedUnit</key>
			<data>
			21wIT3bqILCGLillQPvvNOnuTwfP+3sC6dib3DTnNNM=
			</data>
			<key>PopularObjectsFeedUnitItem</key>
			<data>
			zOHeOBb2aa4I84NN8xUMpMTCeFlvG6HLURfcGux9zCA=
			</data>
			<key>ProfilePicAttachmentMedia</key>
			<data>
			zt+DbKLnFwL1d3uiVSFJFd5f07LQne+1aIPhCvubXI8=
			</data>
			<key>ProfilePicture</key>
			<data>
			Ip+pFevFMPdI3mHGan2Oog5m3HPRSn/D0MkcPnwFEAE=
			</data>
			<key>Question</key>
			<data>
			EycQgzN64vf5IX+9RG50dbVDQ04nPJNpNciW4kWB5cY=
			</data>
			<key>QuestionOption</key>
			<data>
			2YTwrmuINRi1tuJbAcT2Fg8xJxYz3jD+U2cjOFfBd0A=
			</data>
			<key>RecommendedApplicationsFeedUnit</key>
			<data>
			TE3SBzftU6G0YToHfuDAnwlkot8u8G+WwFaAyLBEK2U=
			</data>
			<key>RecommendedApplicationsFeedUnitItem</key>
			<data>
			F0UUH/5IJlg3b79Ok9EXv4eJFx66xav8MQ2JLLDUEkI=
			</data>
			<key>Sequence</key>
			<data>
			eT2aovAvdYPoQeAjl05lVvAc4R3CCSmvThr6e/GEABs=
			</data>
			<key>ShareableObject</key>
			<data>
			1VyV8hFPRSepMPYQUiOtCX5jCksPLVaUFQ7veCWOIds=
			</data>
			<key>SponsoredData</key>
			<data>
			y3+IV7nvgWoDluz9i7PmZv+SOcOVv/OU8CkkCCwDZuk=
			</data>
			<key>StaleClientNotification</key>
			<data>
			2F0ortKu3RPE1w6e9/QP2rW9qAwAuBCJpd8+NhFDnkE=
			</data>
			<key>Story</key>
			<data>
			rC1cfkavw/AeMLe+ak9hcyr2SyZUfCGSAnguzb2zwb0=
			</data>
			<key>StorySequence</key>
			<data>
			YqW88P+Z8ZztuUtZ3G342svstC3AvxTQKJN43oQrVUc=
			</data>
			<key>StreetAddress</key>
			<data>
			Njm8fkVx8O5Y4tGL2V6Whlh4LHCygAj6+cLVgeDD0PU=
			</data>
			<key>TimelineSection</key>
			<data>
			nuYPjeqN3/bxD8M8lEXIgUx1M14T/ohGHdW6x7jRzeE=
			</data>
			<key>TimelineSectionSequence</key>
			<data>
			jRFPHL2F0PGVmqg8coh1/uaZWBZO2syyz4sAke1OXjM=
			</data>
			<key>TimelineSectionUnitsConnection</key>
			<data>
			0I1259qOAu7o9uhC9Cq/3YpcnzpenmsGlIgHko7QWRM=
			</data>
			<key>TopStoriesNewsFeedEdge</key>
			<data>
			ncPiCO3/AcQWBVr1ilMZyeeCaLCSO5NtepdOyzNR/0o=
			</data>
			<key>Vect2</key>
			<data>
			uEM3Wqn6cg01Z1MYRvTEdj85BcCcTQwbOh9sGT0AKHc=
			</data>
			<key>Video</key>
			<data>
			oU9dFohNaLWV1po/x+p7I4pkRJdlw5WGNhjK4iV76po=
			</data>
			<key>Viewer</key>
			<data>
			C/kqEILidBmJqn/PT7h3XlwXACz/PlIGawy7W6LuTOo=
			</data>
		</dict>
	</dict>
</dict>
</plist>
