<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>TimelineModel</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>TimelineModel</key>
		<dict>
			<key>Avatar</key>
			<data>
			HBRTWXNM2RhAZh7zo+lW1y2zOe38ohzk4ENy4GPgdDg=
			</data>
			<key>FeedEdge</key>
			<data>
			CZRmabP46v6wc4zX8X19xq8xebDM3j5sGKmY2+Y+xHk=
			</data>
			<key>FeedSequence</key>
			<data>
			wPY8AkZlkluW8x7Hqkr3Lucceb760M0o6P8hqeIGfs8=
			</data>
			<key>FocusedPhoto</key>
			<data>
			tI3ip42WSJgnfm2deqx9j/CZxbITEeV5Z09jMmnxRCU=
			</data>
			<key>Image</key>
			<data>
			yxrJUyzP2l4yrJG+bzP3gj7pZ6w4LaAvsuUETR4t3t0=
			</data>
			<key>Page</key>
			<data>
			As48qJctYpKXtTemCj9jVn4rb5AoO6As5J9KTSoTZLc=
			</data>
			<key>Person</key>
			<data>
			lQUjc3/HWEdNWczAGJvfhHgHw2qHOhglG6dD1LLMA/Q=
			</data>
			<key>Photo</key>
			<data>
			8j5SCWqvp8MjpyA+Qh2+ms0qb96NI3A5UxPeMTb89KI=
			</data>
			<key>Sequence</key>
			<data>
			d0rej1UIqkKFV6skdapkElZaxgV4+4+zdG2YpG/O53k=
			</data>
			<key>TNAllPendingPostsConnection</key>
			<data>
			A0gq4J8wJ5bkZ15XW+u7z7mX1m3Q4MZZJbzTUTgxAIs=
			</data>
			<key>TNSubscribersConnection</key>
			<data>
			N6O/ETwA4/m9cudmz5GRV3LQUxP+FwrYR28kld7GtJI=
			</data>
			<key>TNTimelineByline</key>
			<data>
			ZMZKo5Hcf7sf0rs1VpkJwYDH3n8DUqQfGxODeFThW2o=
			</data>
			<key>TNTimelineNavAppSection</key>
			<data>
			7eT/+QfXWCjJV3ntqxHiLSSbu4soLUSlqC6lbLp4Av8=
			</data>
			<key>TNTimelineReport</key>
			<data>
			BGn64gLG+4p9ilT/8W2uyABqUEGD1GEQvE0dP3xw1nM=
			</data>
			<key>TNTimelineSection</key>
			<data>
			kFMKekqsXEe+evDdoRRiOtYkCZoqedwHEpb5rGNgFUE=
			</data>
			<key>TNTimelineUnitEdge</key>
			<data>
			EFkI0qMlBMn/rX0ggWqJyTJRNC/E3qgpNMdvfubBTFw=
			</data>
		</dict>
	</dict>
</dict>
</plist>
